<h1>Add Phone Number</h1>

<p>Add a phone number here:</p>

<form action="/info" method="post">
  <div class="form-group">
    <label for="area_code">area code:</label>
    <input id="area_code" name="area_code" type="text">
  </div>

  <div class="form-group">
    <label for="number">number:</label>
    <input id="number" name="number" type="text">
  </div>

  <div class="form-group">
    <label for="type">type:</label>
    <input id="type" name="type" type="text">
  </div>

  <button type="submit">Add Phone Number</button>
</form>
